html,
body {
    margin: 0;
}

#canvas {
    cursor: crosshair;
}

.tools .button {
    width: 100px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: black;
    margin: 0 15px;
}

.pen-range {
    margin: 10px;
}

.color {
    cursor: pointer;
}

.btn {
    background: #000000;
    color: white;
    font-size: 22px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;
    margin: 0 5px;
    cursor: pointer;
}

.btn1 {
    background: #000000;
    color: white;
}

.btn2 {
    background: #FF0000;
    color: white;
}

.btn3 {
    background: #0000C6;
    color: white;
}

.btn4 {
    background: #00DB00;
    color: white;
}

.btn5 {
    background: #F9F900;
    color: white;
}

.btn6 {
    background: #FF0080;
    color: white;
}

.btn7 {
    background: #750075;
    color: white;
}

.btn8 {
    background: #00FFFF;
    color: white;
}

.btn9 {
    background: #1AFD9C;
    color: white;
}

.btn10 {
    background: #F75000;
    color: white;
}

.btn11 {
    background: #808040;
    color: white;
}

.btn12 {
    background: #13579B;
    color: white;
}

.btn13 {
    background: #B97531;
    color: white;
}

.btn14 {
    background: #02CE2F;
    color: white;
}

.btn15 {
    background: #CF00C5;
    color: white;
}

.btn16 {
    color: white;
    box-shadow: none;
    border: 0;
    border-right: 15px solid white;
    border-left: 15px solid white;
    border-bottom: 25px solid blue;
    display: inline-block;
}

.btn17 {
    background: #02ce2f;
    color: white;
    font-size: 22px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;
}

.btn18 {
    background: #cf00c5;
    color: white;
    font-size: 22px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;
}